body {
  background-color: rgb(8, 185, 102);
}

h1 {
  font-family: "Tangerine", serif;
  font-size: 40px;
}

.center-text {
  text-align: center;
  margin-top: 5%;
}

input[type="text"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

li {
  background-color: gray;
  font-size: 40px;
  border: 1px solid black;
  margin: 2px 2px 6px;
  color: white;
}
ul {
  width: 100%;
  text-align: left;
}

.lineThrough {
  text-decoration: line-through;
}

/* .doneTitle  {
  visibility: hidden;
} */

/* h1.doneTitle  {
  visibility: hidden;
} */

/* .taskTitle {
    visibility: hidden;
  } */
  
  /* h1.taskTitle  {
    visibility: hidden;
  } */

  .space{
      padding:5%;
  }
